.dropdown {
    padding: 4px;
    font-size: 15px;
    font-weight: 700px;
}

.comment {
    padding: 4px;
    font-size: 15px;
    font-weight: 700px;
}

.date {
    font-size: 15px;
    font-weight: 700px;
}