.dropdown {
    padding: 4px;
    font-size: 15px;
    background-color: var(--surface-2);
    color: var(--text);
}

.comment {
    padding: 4px;
    font-size: 15px;
}

.date {
    font-size: 15px;
}